# Large geodata: download from the sources listed in README
*.shp
*.shx
*.dbf
*.prj
*.cpg
*.sbn
*.sbx
*.shp.xml
*.geojson
*.gpkg
*.gdb/
*.tif
*.tif.aux.xml
*.ovr
*.zip
01_raw/
02_working/
03_qgis/

# System files
.DS_Store
.qgz~
*.qgs~
